<div class="modal-content">
    <form *ngIf="active" #layoutUploadForm="ngForm" novalidate (ngSubmit)="save(layoutUploadForm)" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{l("UploadLayoutLinkText")}}</span>
            </h4>
            <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="padding-top:0% !important">  
                <div class="row m--margin-bottom-10">
                    <div style="padding-left:10px;padding-right:10px; margin-top:25px;">
                        <div class="form-group">
                            <div>
                                <label for="file">{{l('ImportLayoutFileLabel')}}</label>
                            </div>
                            <div class="row" style="margin-left:1px;">
                                <input #fileInput type="file"
                                       id="file"
                                       accept=".xls,.xlsx"
                                       (change)="handleFileInput($event.target.files)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">                    
                    <a href="javascript:;" style="cursor:pointer"
                       (click)="onDownloadTemplate()">{{l('downloadTooltip')}}</a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="saving" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" [busyText]="l('SavingWithThreeDot')" [buttonBusy]="saving" [disabled]="isDisabled" (click)="onSave()" class="btn btn-primary blue">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>

</form>
</div>