<!--suppress ALL -->
<div class="modal-content" [busyIf]="isLoading">
  <form autocomplete="off" *ngIf="active && activeForm == 'SaveCount'" #databaseForm="ngForm"
    (ngSubmit)="save(databaseForm, false)">
    <div class="modal-header">
      <h4 class="modal-title">
        <span>Save Count</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="Description">{{ l("Description") }} *</label>
        <input id="Description" maxlength="50" type="text" class="form-control" name="cDescription"
          [(ngModel)]="campaign.cDescription" #descriptionInput="ngModel" required />
        <validation-messages [formCtrl]="descriptionInput"></validation-messages>
      </div>
      <div class="form-group">
        <label for="Channel">{{ l("Channel") }} *</label>
        <div>
          <p-radioButton name="cChannelType" value="P" label="Postal" [style]="{ margin: '8px' }"
            inputId="cChannelType1" [(ngModel)]="campaign.cChannelType" [(ngModel)]="channelType" [disabled]="true">
          </p-radioButton>
          <p-radioButton name="cChannelType" [style]="{ margin: '8px' }" value="E" label="Email "
            inputId="cChannelType3" [(ngModel)]="campaign.cChannelType" [disabled]="true">
          </p-radioButton>
        </div>
      </div>
      <div class="form-group">
        <label>{{ l("FileNotesLabel") }}</label><br />
        <textarea name="fileNotes" class="form-control" [style]="{ width: '100%' }" [(ngModel)]="fileNotes">
        </textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
        {{ l("Cancel") }}
      </button>
      <button type="submit" class="btn btn-primary blue" [disabled]="!databaseForm.form.valid" [buttonBusy]="saving"
        [busyText]="l('SavingWithThreeDot')">
        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
      </button>
    </div>
  </form>
  <form autocomplete="off" *ngIf="active && activeForm == 'PlaceOrder'" #databaseForm2="ngForm"
    (ngSubmit)="save(databaseForm, true)">
    <div class="modal-header">
      <h4 class="modal-title">
        <span>Place Order</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul ngbNav #tabnav="ngbNav" [(activeId)]="activeNav" class="nav-tabs">
        <li [ngbNavItem]="1" id="tab1" [disabled]="isEditLayout">
          <a ngbNavLink>Customer</a>
          <ng-template ngbNavContent>
            <div class="form-group">
              <label>{{ l("RequiredQuantity") }} *</label>
              <input type="text" maxNumber="2147483647" #requiredQuantityInput="ngModel" id="Segment_iRequiredQty"
                class="form-control" [(ngModel)]="requiredQuantityValue" valueValidator="^\bALL AVAILABLE\b$|^\d+$"
                name="iRequiredQty" (keydown)="onRequiredQuantityKeyDown($event)" required />
              <div *ngIf="
                  requiredQuantityInput.errors &&
                  (requiredQuantityInput.dirty || requiredQuantityInput.touched)
                " class="form-control-feedback">
                <div [hidden]="!requiredQuantityInput.errors.valueValidator">
                  {{ l("enterValidValue") }}
                </div>
              </div>
              <div *ngIf="
                  requiredQuantityInput.errors &&
                  (requiredQuantityInput.dirty || requiredQuantityInput.touched)
                " class="form-control-feedback">
                <div [hidden]="!requiredQuantityInput.errors.maxNumber">
                  {{ l("maxIntSize") }}
                </div>
              </div>
              <validation-messages [formCtrl]="requiredQuantityInput"></validation-messages>
            </div>
            <div class="form-group">
              <label for="Mailer">{{ l("Customer") }} </label>
              <div class="ui-fluid">
                <p-autoComplete [delay]="500" [minLength]="2" field="label" name="mailer" [dropdown]="true"
                  #mailerInput="ngModel" [forceSelection]="true" (completeMethod)="searchMailers($event)"
                  [(ngModel)]="campaign.mailer" [suggestions]="mailers">
                </p-autoComplete>
              </div>
            </div>
            <div class="form-group">
              <label>{{ l("ShipToLabel") }}</label>
              <p-dropdown #shipToInput="ngModel" [filter]="true" [style]="{ width: '100%' }"
                [options]="outputShipToValues" [(ngModel)]="selectedOutputShipTo" editable="true" name="outputShipTo"
                (keydown)="shipToKeyDown($event)" (onChange)="onShipToDropdownChange($event)"
                emailValidator="(([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)(\s*;\s*|\s*$))*">
              </p-dropdown>
              <div *ngIf="
                  shipToInput.errors &&
                  (shipToInput.dirty || shipToInput.touched)
                " class="form-control-feedback">
                <div [hidden]="!shipToInput.errors.emailValidator">
                  {{ l("InvalidEmailAddress") }}
                </div>
              </div>
              <validation-messages [formCtrl]="shipToInput"></validation-messages>
            </div>
            <div class="form-group">
              <div class="row m--margin-bottom-10">
                <div class="col-md-6">
                  <label for="PO">{{ l("PO#") }}</label>
                  <input id="lvaOrderNo" #lvaOrderNo="ngModel" type="text" class="form-control"
                    [(ngModel)]="billing.lvaOrderNo" name="lvaOrderNo" />
                </div>
                <div class="col-md-6" style="display: none">
                  <label>{{ l("TypeLabel") }}</label><br />
                  <p-dropdown [filter]="true" #outputType name="outputType" [options]="outputTypes"
                    [(ngModel)]="selectedOutputType" [style]="{ width: '100%' }" placeholder="Select Type"
                    (onChange)="onTypeDropdownChange(false, outputType)">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="form-group" style="display: none">
              <div class="col-md-auto">
                <p-checkbox name="headerRow" label="Header Row" binary="true" [(ngModel)]="headerRowCheck"
                  inputId="headerRow" [disabled]="headerRowDisabled" (onChange)="onHeaderRowChecked($event)">
                </p-checkbox>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" id="tab2">
          <a ngbNavLink>Layout</a>
          <ng-template ngbNavContent>
            <div [hidden]="editFlag">
              <div class="form-group">
                <div class="row m--margin-bottom-10">
                  <div class="col-md-6">
                    <div class="row m--margin-bottom-10">
                      <div class="col-md-12">
                        <label>{{ l("LayoutLabel") }}</label>
                        <!-- <link (click)="DownloadExcel()" class="fa fa-download"
                                                  [tooltip]="toolTipLayoutDownloadLink"
                                                  [(hidden)]="isLayoutDownloadEnabled"
                                                  [style.float]="getOutputLayoutFloatStyle()" /> -->
                      </div>
                    </div>
                    <p-dropdown [filter]="true" #Layout name="outputLayout" [options]="outputLayouts"
                      [(ngModel)]="selectedOutputLayout" [style]="{ width: '100%' }" placeholder="Select Layout"
                      (onChange)="onLayoutDropdownChange()" [disabled]="isLayoutFieldDisabled">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="isEditLayout">
              <div class="row m--margin-bottom-10">
                <div class="col-md-6">
                  <div class="row m--margin-bottom-10">
                    <div class="col-md-12">
                      <label>{{ l("Add New Fields") }}</label>
                    </div>
                  </div>
                  <p-multiSelect [showToggleAll]="false" [style]="{ width: '100%' }" style="width: 100%; padding: 0.3em"
                    [options]="availableFields" name="fields" (onChange)="onAddFieldChange($event)"
                    [(ngModel)]="selectedAvailableFields">
                  </p-multiSelect>
                  <!--  -->
                </div>

                <button class="btn icons-edited-primary" type="button" style="float: right; padding-top: 25px"
                  placement="right" ngbTooltip="Add Fields" (click)="AddFields(dataTable)" [disabled]="isAdd">
                  <i class="fa fa-plus fa-lg"></i>
                </button>
                <!--  -->
              </div>
            </div>
            <div class="form-group">
              <div class="row" [busyIf]="loadingLayoutSelections">
                <div *ngIf="!isEditLayout && layoutList.length > 0 "
                  style="height: 300px; overflow-x: hidden; overflow-y: scroll; width: 500px;">
                  <span style="
                        padding-bottom: 10px;
                        display: inline-block;
                        background-color: white;
                        position: absolute;
                        width: 400px;
                        font-weight: bold;
                        font-style: unset;
                      ">Existing Fields</span>
                  <ul *ngFor="let item of layoutList; let no = index">
                    <li>
                      {{ item.outputFieldName }}
                    </li>
                  </ul>
                </div>
                <div class="row align-items-center" *ngIf="isEditLayout">
                  <!--<Primeng-Datatable-Start>-->
                  <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                    <p-table #dataTable (onLazyLoad)="getSelectedFields($event)" [value]="primengTableHelper.records"
                      rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                      ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                      [resizableColumns]="primengTableHelper.resizableColumns" dataKey="id" [scrollable]="true"
                      scrollHeight="200px">
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 300px">Existing Fields</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit" let-expanded="expanded">
                        <tr>
                          <td style="width: 300px">
                            <span class="ui-column-title">
                              {{ l("cCode") }}</span>
                            {{ record.outputFieldName }}
                          </td>
                          <td style="width: 100px">
                            <i *ngIf="isEditLayout" class="fa fa-trash" aria-hidden="true"
                              (click)="deleteSelectedItem(record.id, dataTable)"></i>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                      {{ l("NoData") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="tabnav" class="mt-2"></div>
    </div>

    <div class="modal-footer">
      <button *ngIf="activeNav == 2 && !isEditLayout" type="button" class="btn btn-primary blue mr-auto"
        (click)="editLayout()">
        <i class="fa fa-pen-to-square"></i>
        {{ l("Edit Layout") }}
      </button>
      <button [disabled]="saving" *ngIf="activeNav == 1" type="button" class="btn btn-default" (click)="close()">
        {{ l("Cancel") }}
      </button>
      <button [disabled]="saving" *ngIf="activeNav == 2 && isEditLayout" type="button" class="btn btn-default"
        (click)="goBackToLayout(false)">
        {{ l("Go Back") }}
      </button>
      <button [disabled]="saving" *ngIf="activeNav == 1" type="button" class="btn btn-primary blue"
        (click)="selectNext(2)">
        {{ l("Next-Select Layout") }}
      </button>
      <button type="submit" class="btn btn-primary blue" [disabled]="!databaseForm2.form.valid" [buttonBusy]="saving"
        [busyText]="l('SavingWithThreeDot')">
        <i class="fa fa-save"></i>
        <span>{{ l("Place Order") }}</span>
      </button>

      <!-- <button type="submit" *ngIf="activeNav==2 && isEditLayout" class="btn btn-primary blue"
               [disabled]="!databaseForm2.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
                   class="fa fa-save"></i>
               <span>{{l("Save Layout")}}</span></button> -->
    </div>
  </form>
  <form autocomplete="off" *ngIf="active && activeForm == 'CountReport'" #databaseForm4="ngForm"
    (ngSubmit)="save(databaseForm, false)">
    <div class="modal-header">
      <h4 class="modal-title">
        <span>Instant Breakdown</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset ngModelGroup="mainForm">
        <div class="primeng-datatable-container" style="height: 500px;"  *ngIf="!showDownLoad">
          <p-table #dataTable [value]="primengTableHelperDataReports.records"
             dataKey="id"
            class="pivotReportsTable">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 30%">
                  {{l('#')}}
                </th>
                <th style="width: 30%">
                  {{l('Row')}}
                </th>
                <th style="width: 30%">
                  {{l('Column')}}
                </th>
                <th style="width:4%"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
              <tr *ngIf="record.action!=3">
                <td style="width:10%">
                  Report {{i + 1}}
                </td>
                <td style="width:30%" pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="fastCountConfigXFields" [filter]="true" [(ngModel)]="record.cXField"
                        [style]="{'minWidth':'10px','width':'100%'}" (onChange)="onXFieldChange(i,$event)" name="dbX">
                        >
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{record.cXDesc}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td style="width:30%" pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="fastCountConfigYFields" [filter]="true" [(ngModel)]="record.cYField"
                        [style]="{'minWidth':'10px','width':'100%'}" (onChange)="onYFieldChange(i,$event)" name="dbY">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{record.cYDesc}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td style="width:4%;">
                  <button type="button" class="btn btn-sm btn-dangerous" [disabled]="CampaignStatus > 100"
                    style="float: right;" (click)="deleteXtab(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="showDownLoad && this.reportDataToShowOnUI.length" style="overflow: auto; height: 500px;">
          <p-accordion>
            <p-accordionTab header="{{item.reportName}}: {{item.description}}" *ngFor="let item of this.reportDataToShowOnUI" [selected]="true">
              <div *ngIf="item.rowCount > 15000" style="padding-bottom: 0.571em;font-weight: 400;color: #BE791D;">
                <i class="far fa-info-circle mr-1"></i> We can only show results upto 15,000 rows.
              </div>
              <table class="table table-striped table-hover table-bordered">
                <tr>
                  <th style="text-transform: capitalize;">{{item.labelHeader}}</th>
                  <th style="text-transform: capitalize;" *ngIf="!item.isSingleDimension">{{item.columnHeader}}</th>
                  <th>Count</th>
                </tr>
                <tr *ngFor="let key of item.items">
                  <td>{{key.label}}</td>
                  <td *ngIf="!item.isSingleDimension">{{key.colLabel}}</td>
                  <td>{{key.value}}</td>
                </tr>
              </table>
            </p-accordionTab>
          </p-accordion>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
        {{ l("Cancel") }}
      </button>
      <button type="submit" class="btn btn-primary blue" [disabled]="!primengTableHelperDataReports.records" [buttonBusy]="saving"
        *ngIf="!showDownLoad" [busyText]="l('SavingWithThreeDot')"> <span>{{ l("Run Breakdown") }}</span>
      </button>
      <span class="btn btn-primary blue"  *ngIf="showDownLoad" 
         (click)="downloadDataReport()">
        <span>{{l("Download Report")}}</span></span>
    </div>
  </form>
  <form autocomplete="off" *ngIf="activeForm == 'Maxper'" #databaseForm3="ngForm"
    (ngSubmit)="save(databaseForm, false)">
    <div class="modal-header">
      <h4 class="modal-title">
        <span>All/One Per</span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>{{ l("Field") }}</label>
          <p-dropdown [options]="maxPerFieldsFastCountlevel" [(ngModel)]="CampaignLevelMaxPerField"
            name="CampaignLevelMaxPerField" (onChange)="onMaxPerFieldFastCountLevelChange($event)"
            [disabled]="!primengTableHelperMaxPer.records" [style]="{ width: '100%', height: '55%' }">
          </p-dropdown>
        </div>
        <div class="col-md-6" [hidden]="!Maxperdropdown">
          <div class="row">
            <div class="col-md-6">
              <label>{{ l("MinimumQuantity") }}</label>
              <input type="text" [(readonly)]="IsMaxFieldEmpty" digitOnly class="form-control" maxlength="3"
                [(ngModel)]="MinimumMaxPerQuantity" name="FromQty" style="width: 100%; height: 55%" />
            </div>
            <div class="col-md-6">
              <label>{{ l("MaximumQuantity") }}</label>
              <input type="text" [(readonly)]="IsMaxFieldEmpty" digitOnly maxlength="6" class="form-control"
                [(ngModel)]="MaximumMaxPerQuantity" name="ToQty" style="width: 100%; height: 55%" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="modal-footer">
      <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
        {{ l("Cancel") }}
      </button>
      <button type="submit" class="btn btn-primary blue" [disabled]="!primengTableHelperMaxPer.records" [buttonBusy]="saving"
        [busyText]="l('SavingWithThreeDot')">
        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
      </button>
    </div>
  </form>
</div>