<div class="modal-content" [busyIf]="isLoading">
    <form #lookupForm="ngForm" novalidate (ngSubmit)="save(lookupForm)" autocomplete="off">
        <div class="modal-header">
            <div class="header-data">
                <!-- <h4 class="modal-title"></h4> -->
                <div class="header-data-2">
                    <h6>ID : &nbsp; <span>{{id}}</span></h6>
                    <h6>Queue Name : &nbsp; <span>{{cDescription}}</span></h6>
                    <h6>
                        Show Selected : &nbsp; <p-checkbox [binary]="true" [(ngModel)]="showSelection"name="showdata"></p-checkbox>
                    </h6>
                </div>
            </div>
            <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body" *ngIf="!showSelection">
            <div class="row listbox-height">
                <p-listbox [options]="databases" [checkbox]="true" [(ngModel)]="selectedDatabses" name="database"
                    [filter]="true" [multiple]="true" [style]="{ width: '100%'}" optionLabel="label"
                    optionValue="value">
                </p-listbox>
            </div>

        </div>
        <div class="modal-body"  *ngIf="showSelection">
            <div class="row listbox-height">
                <p-listbox [options]="selectedDatabses" [checkbox]="true" [(ngModel)]="selectedDatabses" name="selectdatabase"                   
                 [filter]="true" [multiple]="true" class="list-box-width" optionLabel="label"  [style]="{ width: '100%'}"
                    optionValue="value">
                </p-listbox>
            </div>

        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Cancel</button>
            <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving"
                [busyText]="'SavingWithThreeDot'"><i class="fa fa-save"></i>
                <span>Add</span></button>
        </div>
    </form>
</div>