<div class="modal-content">
    <form *ngIf="active" #ScheduleCampaignForm="ngForm" novalidate (ngSubmit)="save(ScheduleCampaignForm)" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{l("ScheduleCampaignTitle")}}</span>
            </h4>
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">


            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="scheduledDate">{{l("CamapignIdLabel")}}</label>
                    <div class="ui-fluid">
                        {{campaign.campaignId}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="scheduledDate">{{l("CampaignDescriptionLabel")}}</label>
                    <div class="ui-fluid">
                        {{campaign.campaignDescription}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="scheduledDate">{{l("ForStatusLabel")}}</label>
                    <div class="ui-fluid">
                        {{forStatusString}}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                    <label for="scheduledDate">{{l("scheduledDate")}} *</label>
                    <div class="ui-fluid">
                        <p-calendar [(ngModel)]="scheduleDate" dateFormat="mm/dd/yy" name="scheduledDate" [selectOtherMonths]="true" [minDate]="currentDate" required>
                            <ng-template pTemplate="date" let-date class="form-control">
                                <span style="display:block">{{date.day}}</span>
                            </ng-template>
                        </p-calendar>
                    </div>
                </div>
            <!--</div>
            <div class="row">-->
                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                    <label for="scheduledTime">{{l("scheduledTime")}} *</label>
                    <div class="ui-fluid">
                        <p-inputMask [(ngModel)]="scheduleTime" data-inputmask-max="24" #timeInput="ngModel" mask="99:99" name="scheduledTime"
                                     placeholder="HH:MM" slotChar="HH:MM" pattern="^(([0-1][0-9])|([1-2][0-3])):([0-5][0-9])$"></p-inputMask>
                        <div *ngIf="timeInput.errors && (timeInput.dirty || timeInput.touched)"
                             class="form-control-feedback">
                            <div [hidden]="!timeInput.errors.pattern">
                                {{l("InvalidTime")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    <div class="modal-footer">
                        <div>
                            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue"
                                    [disabled]="!ScheduleCampaignForm.form.valid" [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{l("Save")}}</span>
                            </button>
                        </div>
                    </div>
</form>
</div>