
.quantity__header {
    width: 11% !important;
    text-align: right !important;
    padding-right: 8px !important;
  
  }
  .quantity__column {
    width: 11% !important;
    text-align: right !important;
    padding-right: 8px !important;
  }