<div class="modal-content">
    <form #DbForm="ngForm" novalidate (ngSubmit)="save(DbForm)" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span *ngIf="id">{{l("Edit")}}</span>
                <span *ngIf="!id">{{l("Create")}}</span>

            </h4>
            <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group m-form__group col-xs-12 col-sm-12 col-md-12">
                    <label>Database Name</label>
                    <p-dropdown [options]="databaseName" [(ngModel)]="dbLinks.databaseId" name="database"
                        [filter]="true" placeholder="Select" [style]="{'width':'100%'}" required>
                    </p-dropdown>
                </div>
                <div class="form-group m-form__group col-xs-12 col-sm-12 col-md-12 ">
                    <label>External Build Table Name</label>
                    <p-dropdown [options]="tableDescription" [(ngModel)]="dbLinks.buildTableId" name="tableDesc"
                        [filter]="true" placeholder="Select" [style]="{'width':'100%'}" required>
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Cancel</button>
            <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving"
                [disabled]=" DbForm.invalid||(!permission.isGranted('Pages.ExternalBuildTableDatabases.Write')) && id"
                [busyText]="'SavingWithThreeDot'"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
        </div>
    </form>
</div>