<div class="modal-content">
    <form *ngIf="active" #CloseNotificationJobFlagForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span *ngIf="taskId==14">{{l("CloseNotificationJobFlagForm")}}</span>
                <span *ngIf="taskId==15">{{l("DeleteBuildTaskForm")}}</span>
            </h4>
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <general-database-build (taskGeneral)="storeTaskGeneral($event)" [onlyDatabaseBuild]="true" [taskID]="taskId"></general-database-build>
        </div>
        <div class="modal-footer">
            <div>
                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary blue"
                        [disabled]="!CloseNotificationJobFlagForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </form>
</div>