
/* Medium Size sliders */
.switchL {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 34px;
    margin-top: 8px;
}

    .switchL input {
        display: none;
    }

.sliderl {
    position: absolute;
    cursor: pointer;
    top: 18px;
    left: 0;
    right: 0;
    bottom: -18px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .sliderl:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 2px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }



input:focus + .sliderl {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderl:before {
    -webkit-transform: translateX(169px);
    -ms-transform: translateX(169px);
    transform: translateX(169px);
}

input:checked + .sliderl {
    background-color: #5867dd;
    border-color: #5867dd;
}
/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 46%;
    font-size: 11px;
    font-family: Verdana, sans-serif;
}

input:checked + .sliderl .on {
    display: block;
}

input:checked + .sliderl .off {
    display: none;
}

/*--------- END --------*/
/* Rounded sliders */
.sliderl.round {
    border-radius: 34px;
}

    .sliderl.round:before {
        border-radius: 50%;
    }

.icons-edited-primary {
    color: #2e40d4;
}

.textAllignL {
    width: 80%;
    margin-left: 22px;
}
