   <div class="modal-content">
            <form *ngIf="active" #ownerForm="ngForm" novalidate (ngSubmit)="save(ownerForm)" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="owner.id">{{l("EditOwners")}}</span>
                        <span *ngIf="!owner.id">{{l("CreateOwner")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cCode">{{l("ID")}} </label>
                            <input type="text" id="Owner_id" class="form-control" [(ngModel)]="owner.id" name="id" [(hidden)]="!owner.id" [disabled]="owner.id" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cCode">{{l("cCode")}} </label>
                            <input type="text" id="Owner_cCode" class="form-control" maxlength="15" [(ngModel)]="owner.cCode" name="cCode" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cCompany">{{l("cCompany")}} *</label>
                            <input type="text" id="Owner_cCompany" #companyInput="ngModel" maxlength="50" class="form-control" [(ngModel)]="owner.cCompany" name="cCompany" noSpaceValidator="{{owner.cCompany}}" />
                            <div *ngIf="companyInput.errors && (companyInput.dirty || companyInput.touched)"
                                 class="form-control-feedback">
                                <div [hidden]="!companyInput.errors.noSpaceValidator">
                                    {{l('EnterCompany')}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cAddress1">{{l("cAddress1")}}</label>
                            <input type="text" id="Owner_cAddress1" rows="1" class="form-control" maxlength="50" [(ngModel)]="owner.cAddress1" name="cAddress1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cAddress2">{{l("cAddress2")}}</label>
                            <input type="text" id="Owner_cAddress2" rows="1" class="form-control" maxlength="50" [(ngModel)]="owner.cAddress2" name="cAddress2" />
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cCity">{{l("cCity")}}</label>
                            <input type="text" id="Owner_cCity" class="form-control" [(ngModel)]="owner.cCity" maxlength="30" name="cCity" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cState">{{l("cState")}}</label>
                            <input type="text" id="Owner_cState" class="form-control" #stateInput="ngModel" maxlength="2" [(ngModel)]="owner.cState" name="cState" pattern="^[a-zA-Z ]{1,2}$" />
                            <div *ngIf="stateInput.errors && (stateInput.dirty || stateInput.touched)"
                                 class="form-control-feedback">
                                <div [hidden]="!stateInput.errors.pattern">
                                    {{l("InvalidState")}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cZip">{{l("cZip")}}</label>
                            <input type="text" id="Owner_cZip" class="form-control" #zipInput="ngModel" maxlength="10" [(ngModel)]="owner.cZip" name="cZip" pattern="^\d{5}(?:-\d{4})?$|^[a-zA-Z]\d[a-zA-Z]\s?\d[a-zA-Z]\d$" />
                            <div *ngIf="zipInput.errors && (zipInput.dirty || zipInput.touched)"
                                 class="form-control-feedback">
                                <div [hidden]="!zipInput.errors.pattern">
                                    {{l("InvalidZip")}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cPhone">{{l("cPhone")}}</label>
                            <input type="text" id="Owner_cPhone" class="form-control" #phoneInput="ngModel" maxlength="20" [(ngModel)]="owner.cPhone" name="cPhone" pattern="\d{3}\-\d{3}\-\d{4}" />
                            <div *ngIf="phoneInput.errors && (phoneInput.dirty || phoneInput.touched)"
                                 class="form-control-feedback">
                                <div [hidden]="!phoneInput.errors.pattern">
                                    {{l("InvalidPhone")}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cFax">{{l("cFax")}}</label>
                            <input type="text" id="Owner_cFax" class="form-control" #faxInput="ngModel" maxlength="20" [(ngModel)]="owner.cFax" name="cFax" pattern="\d{3}\-\d{3}\-\d{4}" />
                            <div *ngIf="faxInput.errors && (faxInput.dirty || faxInput.touched)"
                                 class="form-control-feedback">
                                <div [hidden]="!faxInput.errors.pattern">
                                    {{l("InvalidFax")}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label for="Owner_cNotes">{{l("cNotes")}}</label>
                            <textarea type="text" id="Owner_cNotes" rows="1" class="form-control" [(ngModel)]="owner.cNotes" name="cNotes"></textarea>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <label class="switchPopup">
                                <input type="checkbox" id="Owner_iIsActive" [(ngModel)]="owner.iIsActive" name="iIsActive" checked />
                                <span class="slider round">
                                    <span class="on">Active</span><span class="off">Inactive</span>
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!ownerForm.form.valid || (!permission.isGranted('Pages.Owners.Edit') && owner.id)" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>

